/vendor/
/node_modules/
/.env
.env.*
/storage/*.key
/public/storage
/public/build
/storage/logs/*
/bootstrap/cache/*
/.idea
/.vscode
composer.lock
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
/build
